@font-face {
    font-family: 'Aleo';
    src: local('Aleo Bold'), local('Aleo-Bold'),
        url('../fonts/subset-Aleo-Bold.woff2') format('woff2'),
        url('../fonts/subset-Aleo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: local('Aleo Regular'), local('Aleo-Regular'),
        url('../fonts/subset-Aleo-Regular.woff2') format('woff2'),
        url('../fonts/subset-Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: local('Aleo Light'), local('Aleo-Light'),
        url('../fonts/subset-Aleo-Light.woff2') format('woff2'),
        url('../fonts/subset-Aleo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    font-family: "Aleo", sans-serif;
    box-sizing: border-box;
}

:root {
    --cream: #F4F1DE;
    --orange: #E07A5F;
    --blue: #3D405B;
    --green: #81B29A;
    --wheat: #F2CC8F;
}

body {
    background-color: var(--cream);
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width:768px) {
    .container {
        width: 80%;
    }
}

hr {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.heading {
    margin-bottom: 20px;
    font-size: 70px;
    color: #333;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    color: var(--cream);
    text-transform: uppercase;
    border: none;
    background-color: var(--blue);
    cursor: pointer;
}

.btn:hover {
    background-color: #4f5372;
}

.main {
    padding-top: 50px;
}

/* header */

.header {
    background-color: var(--blue);
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__link {
    position: relative;
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    color: var(--wheat);
    text-decoration: none;
}

.nav__link--active {
    color: var(--blue);
    background-color: var(--cream);
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 0;
    background-color: var(--wheat);
    transition: height 0.1s ease-in;
}

.nav__link:not(.nav__link--active):hover::after {
    height: 5px;
}

/* answered */

.answered__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    list-style: none;
}

.answered__link {
    display: block;
    padding: 20px;
    color: #333;
    text-decoration: none;
    background-color: var(--wheat);
}

.answered__link:hover {
    background-color: #ecc079;
}

.answered__item-heading {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: normal;
}

.answered__item-questioner,
.answered__item-answerer {
    font-size: 16px;
}

/* login */

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    background-color: var(--wheat);
}

.form__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__group--username {
    display: grid;
    grid-template-columns: auto 1fr;
}

.form__text-label {
    font-size: 20px;
    color: #333;
}

.form__text-label--username {
    grid-column: 1;
    grid-row: 1;
}

.form__error {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: end;
}

.form__text-input,
.form__select {
    padding: 5px 10px;
    font-size: 20px;
    color: #333;
    border: 1px solid #ccc;
    background-color: #fff;
}

.form__text-input--username {
    grid-column: 1 / 3;
    grid-row: 2;
}

/* ask */

.form__group-question {
    align-self: stretch;
}

.form__textarea {
    width: 100%;
    resize: none;
}

/* question */

.question {
    padding: 20px;
    background-color: var(--wheat);
}

.question__heading {
    margin-bottom: 20px;
    font-size: 40px;
    color: #333;
}

.question__answer {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.question__questioner,
.question__answerer {
    font-size: 14px;
    color: #333;
}

/* unanswered */

.unanswered__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
}

.unanswered__link {
    color: #333;
    text-decoration: none;
}

.unanswered__link:hover {
    color: var(--orange);
}

.unanswered__item-heading {
    font-size: 30px;
}

/* users */

.users__list {
    margin-bottom: 20px;
    list-style: none;
}

.users__item-link {
    position: relative;
    display: inline-block;
    padding: 7px 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.users__item-link:hover {
    color: var(--orange);
}

.users__item-link--active {
    color: tomato;
}

.users__item-link--active::after {
    content: 'Expert';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    display: block;
    color: #aaa;
}