{% extends "base.html" %}

{% block title %}food app | day detail{% endblock %}

{% block header %}
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">home</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--active">add food item</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="panel-day">
        <h1 class="panel__heading">march 20, 1967</h1>
        <div class="panel-day__body">
            <form class="form" action="/addfood" method="post">
                <div class="form__field">
                    <label class="form__label">food name</label>
                    <input class="form__input" type="text" name="food_name" placeholder="food name">
                </div>
                <div class="form__field">
                    <label class="form__label">protein</label>
                    <input class="form__input" type="number" name="protein" placeholder="100">
                </div>
                <div class="form__field">
                    <label class="form__label">carbohydrates</label>
                    <input class="form__input" type="number" name="carbohydrates" placeholder="100">
                </div>
                <div class="form__field">
                    <label class="form__label">fat</label>
                    <input class="form__input" type="number" name="fat" placeholder="100">
                </div>
                <button class="btn form__btn" type="submit">add</button>
            </form>
            <hr>
            <ul class="day-foods added-food">
                {% for food in results %}
                    <li class="panel__body panel__body--unbordered">
                        <span class="panel__title">{{ food["name"] }}</span>
                        <ul class="panel__details">
                            <li class="panel__detail">
                                protein: <span>{{ food["protein"] }}</span>
                            </li>
                            <li class="panel__detail">
                                carbohydrates: <span>{{ food["carbohydrates"] }}</span>
                            </li>
                            <li class="panel__detail">
                                fat: <span>{{ food["fat"] }}</span>
                            </li>
                            <li class="panel__detail">
                                calories: <span>{{ food["calories"] }}</span>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}