{% extends "base.html" %}

{% block title %}faq app | answer a question{% endblock %}

{% block header %}
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link">FAQ</a>
                    </li>
                    <li class="nav__item">
                        <a href="/" class="nav__link">home</a>
                    </li>
                    {% if not user %}
                        <li class="nav__item">
                            <a href="/login" class="nav__link">login</a>
                        </li>
                        <li class="nav__item">
                            <a href="/register" class="nav__link">register</a>
                        </li>
                    {% endif %}
                    {% if user and user["admin"] == 0 and user["expert"] == 0 %}
                        <li class="nav__item">
                            <a href="/ask" class="nav__link">ask question</a>
                        </li>
                    {% endif %}
                    {% if user and user["expert"] == 1 %}
                        <li class="nav__item">
                            <a href="/unanswered" class="nav__link">answer questions</a>
                        </li>
                    {% endif %}
                    {% if user and user["admin"] == 1 %}
                        <li class="nav__item">
                            <a href="/users" class="nav__link">user setup</a>
                        </li>
                    {% endif %}
                    {% if user %}
                        <li class="nav__item">
                            <a href="/logout" class="nav__link">logout</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h1 class="heading question">{{ question['question_text'] }}</h1>
    <form action="/answer/{{ question['id'] }}" method="post" class="form form--answer">
        <div class="form__group form__group-question">
            <label class="form__text-label" for="login-answer">Answer</label>
            <textarea class="form__text-input form__textarea" type="text" id="login-answer" rows="5" name="answer"></textarea>
        </div>
        <button class="btn form__btn" type="submit">Submit</button>
    </form>
{% endblock %}