<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link nav__link--active">home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">add food item</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="container">
            {% block content %}
    
            {% endblock %}
        </div>
    </main>
</body>

</html>