{% extends "base.html" %}

{% block title %}faq app | register{% endblock %}

{% block header %}
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link">FAQ</a>
                    </li>
                    <li class="nav__item">
                        <a href="/" class="nav__link">home</a>
                    </li>
                    {% if not user %}
                        <li class="nav__item">
                            <a href="/login" class="nav__link">login</a>
                        </li>
                        <li class="nav__item">
                            <a href="/register" class="nav__link">register</a>
                        </li>
                    {% endif %}
                    {% if user and user["admin"] == 0 and user["expert"] == 0 %}
                        <li class="nav__item">
                            <a href="/ask" class="nav__link">ask question</a>
                        </li>
                    {% endif %}
                    {% if user and user["expert"] == 1 %}
                        <li class="nav__item">
                            <a href="/unanswered" class="nav__link">answer questions</a>
                        </li>
                    {% endif %}
                    {% if user and user["admin"] == 1 %}
                        <li class="nav__item">
                            <a href="/users" class="nav__link">user setup</a>
                        </li>
                    {% endif %}
                    {% if user %}
                        <li class="nav__item">
                            <a href="/logout" class="nav__link">logout</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h1 class="heading">Register</h1>
    <form class="form form--register" method="post" action="/register">
        <div class="form__group form__group--username">
            <label class="form__text-label form__text-label--username" for="register-name">Name</label>
            {% if error %}
                <strong style="color:#f00;" class="form__error">{{ error }}</strong>
            {% endif %}
            <input class="form__text-input form__text-input--username" type="text" id="register-name" name="username">
        </div>
        <div class="form__group">
            <label class="form__text-label" for="register-pass">Password</label>
            <input class="form__text-input" type="password" id="register-pass" name="password" required>
        </div>
        <button class="btn form__btn" type="submit">Register</button>
    </form>
{% endblock %}