{% extends "base.html" %}

{% block title %}table page{% endblock %}

{% block content %}
    <table class="db-table">
        <tr class="db-table__row">
            <th class="db-table__cell db-table__cell-head">id</th>
            <th class="db-table__cell db-table__cell-head">name</th>
            <th class="db-table__cell db-table__cell-head">salary</th>
        </tr>
        {% for item in results %}
            <tr class="db-table__row">
                <td class="db-table__cell">{{ item["id"] }}</td>
                <td class="db-table__cell">{{ item["name"] }}</td>
                <td class="db-table__cell">{{ item["salary"] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}