{% extends "base.html" %}

{% block title %}faq app | unanswered questions{% endblock %}

{% block header %}
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link">FAQ</a>
                    </li>
                    <li class="nav__item">
                        <a href="/" class="nav__link">home</a>
                    </li>
                    {% if not user %}
                        <li class="nav__item">
                            <a href="/login" class="nav__link">login</a>
                        </li>
                        <li class="nav__item">
                            <a href="/register" class="nav__link">register</a>
                        </li>
                    {% endif %}
                    {% if user and user["admin"] == 0 and user["expert"] == 0 %}
                        <li class="nav__item">
                            <a href="/ask" class="nav__link">ask question</a>
                        </li>
                    {% endif %}
                    {% if user and user["expert"] == 1 %}
                        <li class="nav__item">
                            <a href="/unanswered" class="nav__link">answer questions</a>
                        </li>
                    {% endif %}
                    {% if user and user["admin"] == 1 %}
                        <li class="nav__item">
                            <a href="/users" class="nav__link">user setup</a>
                        </li>
                    {% endif %}
                    {% if user %}
                        <li class="nav__item">
                            <a href="/logout" class="nav__link">logout</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="unanswered">
        <h1 class="unanswered__heading heading">Unanswered questions</h1>
        <ul class="unanswered__list">
            {% for question in questions %}
                <li class="unanswered__item">
                    <a href="/answer/{{ question['id'] }}" class="unanswered__link">
                        <h2 class="unanswered__item-heading">{{ question["question_text"]}}</h2>
                        <p class="unanswered__item-questioner">Asked by: {{ question["name"] }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}