{% extends "base.html" %}

{% block title %}faq app | users{% endblock %}

{% block header %}
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link">FAQ</a>
                    </li>
                    <li class="nav__item">
                        <a href="/" class="nav__link">home</a>
                    </li>
                    {% if not user %}
                        <li class="nav__item">
                            <a href="/login" class="nav__link">login</a>
                        </li>
                        <li class="nav__item">
                            <a href="/register" class="nav__link">register</a>
                        </li>
                    {% endif %}
                    {% if user and user["admin"] == 0 and user["expert"] == 0 %}
                        <li class="nav__item">
                            <a href="/ask" class="nav__link">ask question</a>
                        </li>
                    {% endif %}
                    {% if user and user["expert"] == 1 %}
                        <li class="nav__item">
                            <a href="/unanswered" class="nav__link">answer questions</a>
                        </li>
                    {% endif %}
                    {% if user and user["admin"] == 1 %}
                        <li class="nav__item">
                            <a href="/users" class="nav__link">user setup</a>
                        </li>
                    {% endif %}
                    {% if user %}
                        <li class="nav__item">
                            <a href="/logout" class="nav__link">logout</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="users">
        <h1 class="users__heading heading">Users</h1>
        <ul class="users__list">
            {% for user in users %}
                <li class="users__item">
                    <a
                        class="users__item-link {% if user['expert'] == 1 %}users__item-link--active{% endif %}"
                        href="/promote/{{ user['id'] }}"
                    >
                        {{ user["name"] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}